name: Publish Crates

on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*" # Matches tags like v0.6.10 but also v0.6.10-alpha.5

jobs:
  publish:
    # Don't publish alpha releases
    # if: startsWith(github.ref, 'refs/tags/v') && !contains(github.ref, '-')
    runs-on: ubuntu-latest
    steps:
      - name: Install requirements
        run: |
          apt install libsqlite3-dev
          apt install openssl-dev

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Publish to crates.io
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: for p in xvc-logging xvc-test-helper xvc-walker xvc-ecs xvc-config xvc-core xvc-storage xvc-file xvc-pipeline xvc ; do cargo publish --package $p ; done
